page-home {
  .home{
  }

  .page-items {
    color: aliceblue;
    align-items: center;
  }

  .page-title {
    font-weight: bold; color: aliceblue;
  }

  .botones{
    color: aliceblue;
    width: 80vw;
  }

  .div-botones{
    color: aliceblue;
    align-items: left;
  }
}
