<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Solicitud de Excepción</ion-title>
    <ion-buttons end>
       <button ion-button icon-only (click)="toggleFollow()">
         <ion-icon name="locate" [color]="following ? 'secondary' : 'danger'"></ion-icon> {{following ? 'Localizacion: Encendida' : 'Localizacion: Apagada'}}
       </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Solicitud de excepción para uso del espacio aéreo</p>
  <div id="map"></div>
  <div padding>
      <ion-list> 
        <ion-item>
          <p>Lugar</p>
          <ion-label floating>Latidud</ion-label>
          <ion-input clearInput="true" required [(ngModel)]="solicitud.latitud"></ion-input>
        </ion-item>
        <ion-item>  
          <ion-label floating>Longitud</ion-label>
          <ion-input clearInput="true" required [(ngModel)]="solicitud.longitud"></ion-input>
        </ion-item>
        <ion-item>  
          <ion-label floating>Radio de vuelo</ion-label>
          <ion-input type="number" clearInput="true" required [(ngModel)]="solicitud.radioVuelo" (keyup)="cambiarRadio($event)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Fecha de vuelo</ion-label>
          <ion-datetime pickerFormat="DD/MM/YYYY" cancelText="No" doneText="Si" clearInput="true" [(ngModel)]="solicitud.fecha"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Hora desde</ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" cancelText="No" doneText="Si" clearInput="true" [(ngModel)]="solicitud.horaVueloDesde"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Hora hasta</ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" cancelText="No" doneText="Si" clearInput="true" [(ngModel)]="solicitud.horaVueloHasta"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Vants</ion-label>
            <ion-select *ngIf="vantsUsuario.length && solicitud.vants" [(ngModel)]="solicitud.vants" multiple="true" cancelText="No" okText="Si" clearInput="true">
              <ion-option *ngFor="let vantUsuario of vantsUsuario" [value]="vantUsuario" [selected]="elegido(vantUsuario.idVant)">
                {{vantUsuario.marca}} - {{vantUsuario.modelo}}
              </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div padding>
        <button ion-button block full icon left (click)="enviar()">
          <ion-icon name="send"></ion-icon>
          {{guardarModificar}}
        </button>
      </div>
      <!--<div padding>
        <button ion-button block (click)="cancelar()">Cancelar</button>
      </div>-->
  </div>
</ion-content>
