<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mapa</ion-title>
    <ion-buttons end>
       <button ion-button icon-only (click)="toggleFollow()">
         <ion-icon name="locate" [color]="following ? 'secondary' : 'danger'"></ion-icon> {{following ? 'Localizacion: Encendida' : 'Localizacion: Apagada'}}
       </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="opcionesVuelo" style="align-content: center">
    <button ion-button item-end outline color="light" icon-start (click) ="obtenerClima()">
      <ion-icon name="partly-sunny"></ion-icon>
        Ver Clima
    </button>
    <button ion-button item-end outline color="light" icon-start (click)="compartirEnFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
        Compartir vuelo
    </button>
  </div>
  <div *ngIf="pedirExcepcion" style="align-content: center">
    <button ion-button item-end outline color="light" icon-start (click) ="redirigeSolEx()">
      <ion-icon name="clipboard"></ion-icon>
        Pedir Excepción
    </button>
  </div>
  <div id="map"></div>
</ion-content>
