page-solicitud-list {
    .ion-sm-clock, .ion-md-clock, .ion-lg-clock{
        color: blue
    }

    .ion-sm-close-circle, .ion-md-close-circle, .ion-lg-close-circle{
        color: red
    }

    .ion-sm-checkmark-circle, .ion-md-checkmark-circle, .ion-lg-checkmark-circle{
        color: green
    }

    .ion-sm-timer, .ion-md-timer, .ion-lg-timer{
        color: orange
    }

}
